<header>Hello, and welcome to the PITT!</header>
<% Team.all.each do |team|%>
<p>Name: <%= "#{team.city} #{team.name}"%></p> <!--this is an interpolation -->


<%end%>

<%= link_to "Logout", :destroy_user_session, method: :delete %>